html,
body {
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

pre {
    overflow-x: auto !important;
}

pre code {
    overflow-wrap: normal !important;
    white-space: pre !important;
}

img {
    max-width: 100%;
}

table {
    overflow-wrap: normal !important;
    white-space: pre !important;
}
